@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

* {
    margin:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f9cbcb;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #7e1f1f;
    text-decoration: none;
    font-weight: 600;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f9cbcb;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a{
    font-size: 18px;
    color: #7e1f1f;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a:active
{
    color: #f894a5;

}
.home{
    height: 100vh;
    
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    width: 600px;

}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    color: #bd1a28;
}
.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f9cbcb;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #7e1f1f;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f9cbcb;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
    line-height: 1.2;
    color: #ef6e7e;
    
}
.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f9cbcb;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}
.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f9cbcb;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}
.home .image {
    flex: 1;
    text-align: center;
    margin-right: 150px;
    clip-path: circle(48.5% at 50% 50%);
    margin-left: 300px; 
  }
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #f894a5;
    border: 2px solid  #f894a5;
    border-radius: 8px;
    font-size: 19px;
    color: #7e1f1f;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #f894a5;
}

.btn-box a:nth-child(2){
    background-color: transparent;
    color: #f894a5;
}

.btn-box a:nth-child(2):hover{
    color: #7e1f1f;
}

.btn-box a:nth-child(2)::before{
    background: #f894a5;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #7e1f1f;
    z-index: -1;
    transition: .2s;
}
.btn-box a:hover::before{
    width: 100%;

}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: rgb(248,205,210);
    display: flex;
    justify-content: space-between;

}
.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f9cbcb;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #7e1f1f;
    border-radius: 50%;
    font-size: 20px;
    color: #f894a5;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #7e1f1f;
}
.home-sci a::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#f894a5;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;

}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 100px;
    width: 700px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover{
    background: #f9cbcb;
    opacity: .8;
}
.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background-color: #f9cbcb;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 2;
}

@keyframes showRight{
    100%{
        width: 0;
    }
}

@keyframes manipActiveHover{
    100%{
        pointer-events: auto;
    }
}